@import "utilities";

@media (min-width: $mobile-to-desktop-px) {
  // hide the hamburger menu on desktop
  .menu-wrap {
    display: none;
  }

  #intro {
    margin-top: 30vh;

    h1 {
      line-height: 3rem;
      font-size: 3rem;
    }
  }
}
