@import "utilities";

#contents {
  height: 96px;
  margin-bottom: 1rem;
  border-bottom: 3px $main-color solid;
}

#main-content {
  margin-bottom: 4rem;
  // Stylng titles
  h1 {
    display: inline;
    font-size: 28px;
    border-bottom: 2px $main-color solid;
  }
  // Adjust section height for browser height
  #about-me {
    min-height: 150px;
    p {
      font-size: 20px;
      padding: 0.5rem 0;
    }
  }
  #skills {
    height: 50%;
    #logos {
      margin-top: 1rem;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      img {
        padding: 1rem 1rem;
        border-radius: 12px;
        margin: 0.5rem 0.5rem;
        width: 200px;
        height: 200px;

        // @keyframes shader {
        //   0% {
        //     box-shadow: 0 0 10px rgba(0, 0, 0, 0);
        //   }
        //   100% {
        //     box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        //   }
        // }

        // &:hover {
        //   animation: shader 1s ease-in-out;
        //   animation-fill-mode: forwards;
        // }
      }
    }
  }
}
