@import "utilities";

#contents {
  height: 96px;
  margin-bottom: 1rem;
  border-bottom: 3px $main-color solid;
}

#main-content {
  // Adjust section height for browser height
  //height: calc(100vh - 160px - 1rem);
  // Each section gets 50%
  #about-me {
    height: 50%;
    min-height: 250px;
    h1 {
      display: inline;
      font-size: 24px;
      border-bottom: 2px $main-color solid;
    }
    p {
      padding: 0.5rem 0;
    }
  }
  #skills {
    height: 50%;
    #logos {
      margin-top: 1rem;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      img {
        margin: 0.5rem 0.5rem;
        width: 200px;
        height: 200px;
      }
    }
    h1 {
      display: inline;
      font-size: 24px;
      border-bottom: 2px $main-color solid;
    }
  }
  margin-bottom: 4rem;
}
