@import "utilities";

#form-title {
  line-height: 50px;
  font-size: 50px;
  border-bottom: 2px solid $main-color;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}

#contact-form {
  display: flex;
  justify-content: center;
  text-align: center;
}

#form-contents {
  margin-top: 2rem;
  width: 100%;

  p {
    margin: 1rem 0;
  }

  #input-fields {
    display: grid;
    grid-template-areas:
      "name email"
      "subject phone"
      "message message";
    grid-gap: 1rem;
  }

  // Grid Areas
  #name-input {
    grid-area: name;
  }

  #subject-input {
    grid-area: subject;
  }

  #email-input {
    grid-area: email;
  }

  #phone-input {
    grid-area: phone;
  }

  #message {
    grid-area: message;
  }

  .input {
    padding: 0.5rem 1rem;
  }

  #submit-button {
    padding: 0.7rem 1.7rem;
    margin-top: 0.8rem;
    background-color: $dark-color;
    color: white;
    border: none;
  }
}
