@import "variables";
@import "utilities";

// General styling
* {
  margin: 0;
  padding: 0;
}

body,
html {
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
  background: #fff;
  height: 100%;
  background-image: url("img_girl.jpg");
}

#main-header {
  background: $bg-image no-repeat center center / cover;
  height: 100%;
}

a {
  text-decoration: none;
  color: $dark-color;
}

ul {
  list-style: none;
}

#intro {
  display: flex;
  justify-content: center;
  text-align: center;
}

#main-footer {
  background-color: $dark-color;
  height: 4rem;
  position: fixed;
  bottom: 0;
  width: 100%;
  color: white;

  #footer-content {
    display: flex;
    justify-content: space-between;
  }
}

#main-nav {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;

  ul {
    display: flex;
  }

  a {
    margin: 0 1rem;
  }
}
