@import "utilities";
@import "desktop";
@import "mobile";

// Header styling
#main-header {
  background: $bg-image no-repeat center center / cover;
  height: 100%;

  #nav-shader {
    background: rgba(0, 0, 0, 0.05);
    height: 100%;

    #intro {
      display: flex;
      justify-content: center;
      text-align: center;
      margin-top: 30vh;
    }

    #main-nav {
      display: flex;
      justify-content: space-between;
      padding-top: 1rem;

      ul {
        display: flex;
      }

      a {
        margin: 0 1rem;
      }
    }
  }
}

// Footer styling
#main-footer {
  background-color: $dark-color;
  height: 4rem;
  position: fixed;
  bottom: 0;
  width: 100%;
  color: white;
  line-height: 2rem;
  font-size: 1rem;

  #footer-content {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 50%;
    transform: translateY(-50%);

    .fab {
      border: 2px #fff solid;
      border-radius: 50%;
      height: 20px;
      width: 20px;
      line-height: 20px;
      text-align: center;
      padding: 0.5rem;
      color: white;

      &:hover {
        background: $main-color;
        transition: all 0.8s;
      }
    }
  }
}
