@import "utilities";

#contents {
  height: 96px;
  border-bottom: 3px $main-color solid;
  margin-bottom: 1rem;
}

#work-showcase {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 4rem;

  #showcase-contents {
    width: 100%;
    #title {
      text-align: center;
      margin-bottom: 0.5rem;

      #work-title {
        font-size: 32;
        border-bottom: 2px $main-color solid;
        padding-bottom: 0.5rem;
        margin-bottom: 0.5rem;
      }
    }
    #works {
      width: 100%;
      .work {
        width: 100%;
        margin-top: 0.5rem;
        margin-bottom: 2rem;
        .image {
          overflow: hidden;
          grid-area: name;
        }
        .about {
          padding: 1rem 1rem;
          grid-area: about;
        }
      }
    }
  }
}

// Background images
#img1 {
  background: url(../images/works/work1.jpg) no-repeat center center / cover;
}

@import "workTab";
